.parson-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.parson-list {
  list-style-type: none;
  white-space: pre;
  padding: 0;
  margin: 0;
}

.parson-list li {
  padding: 0.5rem 0rem;
  margin: 0;
}

.parson-list li pre:hover {
  background-color: #ebebeb;
}

.parson-list li pre:active {
  background-color: #dcdcdc;
}

.parson-list li.dragging pre {
  opacity: 0.5;
}

.parson-list pre {
	background-color: #f5f5f5;
	border-radius: 4px;
	margin-top: 0rem;
	margin-bottom: 0rem;
	text-align: left;
	cursor: move;
}
